@import "./theme.css";
@import "./neutrals.css";

:root {
	--error-color: #d50000;
	--even-unit: #2979ff;
	--odd-unit: #f44336;
	--orange: #ff9100;
	--teal: #8bc34a;
	font-size: 16px;

	scrollbar-color: var(--ClassicBlue30) var(--gray160);
	scrollbar-width: thin;
}

body {
	background: var(--black);
	color: var(--white);
	fill: var(--white);
	stroke: var(--white);
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.dialogBody {
	padding: 8px;
}

.wait {
	cursor: wait !important;
}

header {
	background: var(--ClassicBlue90);
	color: var(--white);
	border-bottom: solid 2px var(--ClassicBlue90);
}

a {
	color: var(--ClassicBlue90);
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.status {
	position: absolute;
	top: 200px;
	left: calc(40% - 100px);
	width: 200px;
	margin: auto;
	background-color: var(--ClassicBlue50);
	color: var(--black);
	padding: 20px;
	border-radius: 8px;
}

/* tables */

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	height: 26px;
	background: var(--ClassicBlue90);
	color: var(--white);
}

thead tr {
	position: sticky;
	z-index: 5;
	background: inherit !important;
	color: inherit !important;
	border: none !important;
}

tbody {
	overflow-y: scroll;
	overflow-x: hidden;
}

tbody.td {
	word-wrap: break-word;
}

td {
	padding: 8px 4px;
	vertical-align: top;
	font-size: medium;
}

td.list {
	vertical-align: middle;
	white-space: nowrap;
}

td.editing {
	background-color: var(--black) !important;
	outline: 1px solid var(--ClassicBlue50);
}

td.fixed {
	text-align: center;
	vertical-align: middle;
	background-color: var(--gray190) !important;
	cursor: default !important;
}

td.initial {
	border-right: 3px solid var(--white);
}

td.translated {
	border-right: 3px solid var(--orange);
}

td.reviewed {
	border-right: 3px solid var(--orange);
}

td.final {
	border-right: 3px solid var(--teal);
}

tr.selected {
	border-top: 2px solid var(--ClassicBlue50) !important;
	border-bottom: 2px solid var(--ClassicBlue50) !important;
	background-color: var(--black) !important;
}

th {
	position: sticky;
	z-index: 5;
	padding: 0px 4px;
	top: 0;
	font-weight: 300;
	background: var(--ClassicBlue90);
	color: var(--white);
	fill: var(--white);
	stroke: var(--white);
}

.stripes tr {
	border-top: 2px solid var(--white);
	border-bottom: 2px solid var(--white);
}

.currentRow {
	border-top: 2px solid var(--ClassicBlue50) !important;
	border-bottom: 2px solid var(--ClassicBlue50) !important;
	background-color: var(--black) !important;
}

.sourceContainer {
	background-color: var(--gray190);
	padding: 4px;
	margin: 0;
	width: 100%;
	white-space: pre-wrap;
	border-bottom: 1px solid var(--ClassicBlue50);
}

.targetContainer {
	background-color: var(--gray190);
	padding: 4px;
	margin: 0;
	width: 100%;
	white-space: pre-wrap;
	border-bottom: 1px solid var(--gray160);
}

.machineContainer {
	background-color: var(--gray190);
	padding: 4px;
	margin: 0;
	width: 100%;
	white-space: pre-wrap;
}

.fixed {
	width: 1px;
	text-align: center;
}

.highlighted {
	color: var(--white);
	background-color: var(--ClassicBlue90);
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.middle {
	vertical-align: middle;
}

/* inputs */

input {
	background-color: var(--gray190);
	color: var(--white);
	border: 1px solid var(--white);
	height: 22px;
	font-size: 14px;
	padding: 2px 4px;
	border-radius: 2px;
}

.table_input {
	width: calc(100% - 14px);
}

.table_select {
	width: calc(100% - 4px);
}

input:focus {
	outline: none !important;
	border: 1px solid var(--ClassicBlue50);
}

input:focus+label {
	color: var(--ClassicBlue50);
}

input:disabled {
	background-color: var(--gray160);
}

input[type=number] {
	font-size: 14px;
	padding: 2px 4px;
}

select {
	background-color: var(--gray190);
	color: var(--white);
	border: 1px solid var(--white);
	font-size: 14px;
	height: 28px;
	padding: 2px 4px;
	border-radius: 2px;
}

select:focus {
	outline: none !important;
	border: 1px solid var(--ClassicBlue50);
}

option {
	font-size: 1em;
	background-color: var(--black);
	color: var(--white);
}

button {
	color: var(--white);
	background: var(--ClassicBlue100);
	border: 1px solid var(--ClassicBlue100);
	border-radius: 4px;
	font-size: 1em;
	text-align: center;
	margin: 4px;
	padding-left: 8px;
	padding-right: 8px;
	white-space: nowrap;
}

button:focus {
	outline: none !important;
	background: var(--ClassicBlue90);
}

button:hover {
	background: var(--ClassicBlue90);
	border: 1px solid var(--ClassicBlue90);
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.14, 0.71, 0.38, 1);
	transition-delay: 0s;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0;
}

label {
	padding-left: 4px;
	padding-right: 4px;
}

.column {
	display: flex;
	flex-direction: column;
}

.fill_width {
	width: 100%;
}

.form_height {
	height: 2rem;
}

.noWrap {
	white-space: nowrap;
}

.paddedArea {
	padding: 4px;
	margin: 4px;
}

.optionBox {
	border: 1px solid var(--gray160);
	border-radius: 4px;
}

.buttonArea {
	display: flex;
	flex-direction: row;
	padding: 8px 16px;
	margin: 0;
	justify-content: flex-end;
	background-color: var(--gray190);
	border-top: 1px solid var(--white);
}

/* toolbars */

.toolbar {
	display: flex;
	flex-direction: row;
	background: var(--ClassicBlue100);
	color: var(--white);
	fill: var(--ClassicBlue90);
	stroke: var(--ClassicBlue90);
	padding: 2px 4px;
	justify-content: flex-start;
	vertical-align: middle;
}

.toolbar button {
	padding: 4px;
	background: inherit;
	border: none;
	outline: none;
	color: inherit;
	fill: inherit;
	stroke: inherit;
	text-align: left;
	font-size: 12px;
	vertical-align: middle;
	box-shadow: none;
}

.toolbar button img {
	padding: 4px;
}

.toolbar a {
	color: inherit;
	fill: inherit;
	stroke: inherit;
	margin-left: 2px;
	margin-right: 2px;
}

.toolbar a img {
	padding-top: 4px;
}

.toolbar a svg {
	padding-top: 4px;
	color: var(--white);
	fill: var(--white);
	stroke: var(--white);
}

.toolbar a:hover {
	background-color: var(--gray190);
	text-decoration: none !important;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.14, 0.71, 0.38, 1);
	transition-delay: 0s;
	border-radius: 2px;
}

svg {
	fill: var(--white);
	stroke: var(--white);
	stroke-width: 0.1;
}

th svg {
	margin-top: 4px;
	fill: var(--white) !important;
	stroke: var(--white) !important;
}

.panel {
	z-index: 5;
	display: block;
	overflow-y: scroll;
}

.panelcontent {
	z-index: -20;
	display: block;
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

.panelcontent table {
	z-index: -30;
}

/* tooltips */

.tooltip {
	position: relative;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.tooltip .tooltiptext {
	background-color: var(--ClassicBlue10);
	color: var(--black);
	visibility: hidden;
	padding: 4px;
	border-radius: 4px;
	white-space: nowrap;
	/* Position the tooltip */
	position: absolute;
	z-index: 100;
}

/* Tooltip arrow */
.bottomTooltip .tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--ClassicBlue10) transparent;
}

.bottomRightTooltip .tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--ClassicBlue10) transparent;
}

.bottomTooltip .tooltiptext{
	top: 130%;
	left: 0px;
}

.bottomRightTooltip .tooltiptext{
	top: 130%;
	right: 0px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.highlight {
	color: var(--gray40);
}

.active svg {
	stroke: var(--ClassicBlue90) !important;
	fill: var(--ClassicBlue90) !important;
}

.bordered {
	border: 1px solid var(--white) !important;
}

.error {
	color: var(--error-color) !important;
}

.preserve {
	white-space: pre-wrap;
}

.divContainer {
	/* Any container that needs to scroll content */
	width: 100%;
	height: 100%;
	overflow: auto;
}

div.stats {
	white-space: nowrap;
	display: flex;
	flex-direction: row;
}

span.stats {
	margin-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

.space {
	background: var(--ClassicBlue50);
	border-radius: 2px;
	font-weight: 700;
}

.lighter {
	background-color: var(--gray160);
}

.paddedPanel {
	margin-top: 8px;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 8px;
	border-radius: 4px;
	width: calc(100% - 16px);
	height: calc(100% - 16px);
	overflow-y: auto;
	overflow-x: hidden;
	background: var(--gray190);
}

.paddedPanel:focus {
	outline: none !important;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8%;
}

::-webkit-scrollbar-track-piece {
	background: var(--gray160);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--ClassicBlue30);
	border-radius: 4px;
}

::-webkit-scrollbar-corner {
	background-color: var(--ClassicBlue30);
}

::-webkit-scrollbar-button {
	background-color: var(--ClassicBlue30);
}

.diffColor {
	color: #f9f29d;
}