.DS_Store
/node_modules/
/bin/
/conf/
/include/
/js/
/legal/
/lib/
/out/
/release
/Stingray-darwin-x64/
/Stingray-win32-x64/
.scannerwork
.gradle/
.github/
.vscode/
sonarqube.sh
sonar-project.properties